# Copyright (c) 2022 Espressif Systems (Shanghai) Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

config BOARD_WATCHY
	select SOC_ESP32S3_MINI_N8
	select SOC_ESP32S3_PROCPU if BOARD_WATCHY_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_WATCHY_ESP32S3_APPCPU
